

			</div> <!-- col-lg-12 -->
		</div><!--/.row-->
</div>	<!--/.main-->
<!-- JQUERY -->
<script src="js/jquery-3.2.1.min.js"></script>
<!-- JQUERY-UI -->
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<!-- JQUERY-validate -->
<script type="text/javascript" src="jquery.validate.min.js"></script>
<script type="text/javascript" src="additional-methods.min.js"></script>
<script type="text/javascript" src="/localization/messages_zh_TW.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- socket.io -->
<script src="/socket.io/socket.io.js"></script>

<% if(title === 'Control'){ %>
    <!-- BOOTSTRAP switch STYLES-->
	<script type="text/javascript" src="/js/bootstrap-switch.js"></script>
	<!-- WAITING DIALOG -->
	<script type="text/javascript" src="/js/bootstrap-waitingfor.min.js"></script>
	<script type="text/javascript" src="vendor/google/charts/loader.js"></script>
	<script type="text/javascript" src="/myjs/myControl.js"></script>
	<!-- kumaGauge -->
	<script type="text/javascript" src="/js/jquery.dynameter.js"></script>
<% } %>
</body>

</html>
